In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
import pandas as pd
ems = pd.read_csv('EMS_Incident_Dispatch_Data (1).csv')
low_memory=False
ems.tail(5)

C:\Users\jason\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,ZIPCODE,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR
8557843,183653775,12/31/2018 09:22:44 PM,OTHER,6,OTHER,6,NaN,N,0,NaN,...,10027.0,28.0,9.0,110.0,5.0,13.0,N,N,N,N
8557844,183653969,12/31/2018 10:12:43 PM,SHOT,3,SHOT,3,NaN,N,0,NaN,...,10466.0,47.0,12.0,212.0,11.0,16.0,N,N,N,N
8557845,183654050,12/31/2018 10:33:43 PM,OTHER,6,OTHER,6,NaN,N,0,NaN,...,10462.0,43.0,18.0,209.0,11.0,14.0,N,N,N,N
8557846,183654167,12/31/2018 11:00:43 PM,OTHER,6,OTHER,6,NaN,N,0,NaN,...,11207.0,75.0,42.0,305.0,19.0,8.0,N,N,N,N
8557847,183654276,12/31/2018 11:31:55 PM,UNKNOW,4,UNKNOW,4,NaN,N,0,NaN,...,10310.0,120.0,49.0,501.0,31.0,11.0,N,N,N,N

In [4]:
ems = ems[['INCIDENT_DATETIME', 'INITIAL_CALL_TYPE', 'INITIAL_SEVERITY_LEVEL_CODE', 'FINAL_CALL_TYPE', 'BOROUGH', 'ZIPCODE']]

In [5]:
ems.tail()

,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,BOROUGH,ZIPCODE
8557843,12/31/2018 09:22:44 PM,OTHER,6,OTHER,MANHATTAN,10027.0
8557844,12/31/2018 10:12:43 PM,SHOT,3,SHOT,BRONX,10466.0
8557845,12/31/2018 10:33:43 PM,OTHER,6,OTHER,BRONX,10462.0
8557846,12/31/2018 11:00:43 PM,OTHER,6,OTHER,BROOKLYN,11207.0
8557847,12/31/2018 11:31:55 PM,UNKNOW,4,UNKNOW,RICHMOND / STATEN ISLAND,10310.0

In [6]:
ems.head()

,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,BOROUGH,ZIPCODE
0,01/01/2013 12:00:04 AM,RESPIR,4,RESPIR,BRONX,10472.0
1,01/01/2013 12:00:19 AM,CARD,3,CARD,BRONX,10454.0
2,01/01/2013 12:01:04 AM,ARREST,1,ARREST,QUEENS,11418.0
3,01/01/2013 12:01:16 AM,SICK,6,SICK,BRONX,10453.0
4,01/01/2013 12:01:26 AM,INJURY,5,INJURY,BRONX,10457.0

In [16]:
from datetime import datetime

In [8]:
ems['INCIDENT_DATE'] = ems['INCIDENT_DATETIME']

In [10]:
type(ems['INCIDENT_DATETIME'])

pandas.core.series.Series

In [13]:
ems['INCIDENT_DATE'] = ems['INCIDENT_DATETIME'].str.split(' ').str[0]

In [14]:
ems.head()

,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,BOROUGH,ZIPCODE,INCIDENT_DATE
0,01/01/2013 12:00:04 AM,RESPIR,4,RESPIR,BRONX,10472.0,01/01/2013
1,01/01/2013 12:00:19 AM,CARD,3,CARD,BRONX,10454.0,01/01/2013
2,01/01/2013 12:01:04 AM,ARREST,1,ARREST,QUEENS,11418.0,01/01/2013
3,01/01/2013 12:01:16 AM,SICK,6,SICK,BRONX,10453.0,01/01/2013
4,01/01/2013 12:01:26 AM,INJURY,5,INJURY,BRONX,10457.0,01/01/2013

In [15]:
date_format = "%Y-%m-%dT%H:%M:%S.%f"
s= datetime.strptime(results[0]['incident_datetime'], date_format)

NameError: name 'results' is not defined

In [17]:
pd.to_datetime(ems['INCIDENT_DATE'])

0         2013-01-01
1         2013-01-01
2         2013-01-01
3         2013-01-01
4         2013-01-01
5         2013-01-01
6         2013-01-01
7         2013-01-01
8         2013-01-01
9         2013-01-01
10        2013-01-01
11        2013-01-01
12        2013-01-01
13        2013-01-01
14        2013-01-01
15        2013-01-01
16        2013-01-01
17        2013-01-01
18        2013-01-01
19        2013-01-01
20        2013-01-01
21        2013-01-01
22        2013-01-01
23        2013-01-01
24        2013-01-01
25        2013-01-01
26        2013-01-01
27        2013-01-01
28        2013-01-01
29        2013-01-01
             ...
8557818   2018-12-30
8557819   2018-12-30
8557820   2018-12-30
8557821   2018-12-30
8557822   2018-12-30
8557823   2018-12-30
8557824   2018-12-31
8557825   2018-12-31
8557826   2018-12-31
8557827   2018-12-31
8557828   2018-12-31
8557829   2018-12-31
8557830   2018-12-31
8557831   2018-12-31
8557832   2018-12-31
8557833   2018-12-31
8557834   2018-12-31
8557835   2018-12-31
8557836   2018-12-31
8557837   2018-12-31
8557838   2018-12-31
8557839   2018-12-31
8557840   2018-12-31
8557841   2018-12-31
8557842   2018-12-31
8557843   2018-12-31
8557844   2018-12-31
8557845   2018-12-31
8557846   2018-12-31
8557847   2018-12-31
Name: INCIDENT_DATE, Length: 8557848, dtype: datetime64[ns]

In [18]:
ems.head()

,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,BOROUGH,ZIPCODE,INCIDENT_DATE
0,01/01/2013 12:00:04 AM,RESPIR,4,RESPIR,BRONX,10472.0,01/01/2013
1,01/01/2013 12:00:19 AM,CARD,3,CARD,BRONX,10454.0,01/01/2013
2,01/01/2013 12:01:04 AM,ARREST,1,ARREST,QUEENS,11418.0,01/01/2013
3,01/01/2013 12:01:16 AM,SICK,6,SICK,BRONX,10453.0,01/01/2013
4,01/01/2013 12:01:26 AM,INJURY,5,INJURY,BRONX,10457.0,01/01/2013